// BTT
#btt {
  display: inline-block;
  // background-color: #FF9800;
  // width: 20px;
  // height: 20px;
  text-align: center;
  // border-radius: 50%;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  font-size: 28px;
  color: $kompiblue;
  transition: all ease .5s;
  // text-shadow: 1px 1px 4px #000;
}
#btt::after {
  // content: "\f139";
  // font-family: FontAwesome;
  // font-weight: normal;
  // font-style: normal;
  // font-size: 2em;
  // line-height: 50px;
  // color: #fff;
}
#btt:hover {
  cursor: pointer;
  // background-color: #333;
  // color: lighten($black, 40%);
}
#btt:active {
  // background-color: #555;
}
#btt.show {
  opacity: 1;
  visibility: visible;
}
.btn {
  border-radius: 0;
  color: #fff;
  font-size: 1rem;
  height: auto;
  transition: 1s ease all;

  &:hover {
    cursor: pointer;
    // background: darken($kompiblue, 10%);
    // height: 100%;
    
  }
}

.btn {
  text-transform: uppercase;
}
.btn-cta {
  // @include button-size($padding-y, $padding-x, $font-size, $line-height, $border-radius)
  @include button-size(12px, 20px, 18px, 1.2, 0);
  background: $kompiblue;
  text-transform: uppercase;

  &:hover {
    background: darken($kompiblue, 10%);
    color: #fff;
  }
}

.dropdown-toggle {
    color: #fff;
    // font-size: 1.25rem;
    font-weight: 300;

    &:hover {
      color: #fff;
      background: darken($kompiblue,10%);
    }

    .filter-option {
        padding: 4px!important;
        // text-align: center;

        &-inner {

            &-inner {
                // text-align: center;
                padding: .1rem .5rem;
            }
        }
    }
}

.dropdown-menu {
    background: #fff;
    border-radius: 0;
    // -ms-box-shadow: 0px 5px 16px 2px rgba(0,0,0,0.75);
    // box-shadow: 0px 5px 16px 2px rgba(0,0,0,0.75);
    -ms-box-shadow: 10px 10px 3px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.75);
    &.show {
        border: none;
        // @include bg-variant(li, rgba($kompiblue, .25));
        // top: -8px!important;

        .dropdown-item {
            // border-bottom: 1px solid #ddd;
            padding: .5rem 1rem;

            &.active {
                // background: darken($kompiblue, 10%);
                &:hover {
                  
                }
            }
        }
    }
}

input, select, textarea {
  &::placeholder {
    font-size: .85rem;
  }
}

.form-control:focus, .form-control:active {
    // outline: 0!important;
    // border: none!important;
    -ms-box-shadow: none!important;
    box-shadow: none!important;
}
input:focus, select:focus, textarea:focus {
  // outline: 0!important;
  // border: none!important;
  -ms-box-shadow: none!important;
  box-shadow: none!important;
}
.dropdown.bootstrap-select.form-control {
    border-radius: 0;
    border-bottom: 1px solid #ccc;
}


//Overrides for Form Controls

#serviceRequest, .service-request {
  // border: 1px solid #ccc;
  // -ms-box-shadow: 2px 2px 8px #000;
  // box-shadow: 2px 2px 8px #000;
  margin: 16px 0;

  .form-header {
    background: #fff;
    background: lighten(#2196f3, 30%);

    h3 {
      color: #2196f3;
      font-size: 1.5rem;
      font-weight: 200;
      padding: 12px;
    }
  }
  .form-body {
    // background: #eef1fd;
    padding: 12px;
    padding-top: 0;
  }

  input {
    outline: none;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;

    &:focus {
      border: none;
      outline: none;
      -ms-box-shadow: none;
      box-shadow: none;
      border-radius: 0;
    }
  }

.dropdown {
  position: relative;
}

  .btn {

    &.dropdown-toggle {
      // border-bottom: 1px solid #ccc;
      border-radius: 0;
    }
  }

  .changed+.dropdown-menu+.underline {
    transform: scale(1);
  }

.input-wrapper {
  position: relative;
}
  
.input:focus+.underline {
  transform: scale(1);
}
.input:valid+.underline {
  transform: scale(1);
}

  .underline {
  position: absolute;
  bottom:0;
  background: dodgerblue;
  width: 100%;
  left: 0;
  height: 2px;
  transform: scale(0,1);
  transition: all .5s linear;
}
  select {
    background: #efefef;
  }

}




.div-title {
    display: none;
}

// UTILITY CLASSES
.text-info {
  color: $kompipurple;
}
.text-gray {
  color: #555;
}
.text-blue {
  color: $kompiblue!important;
}
.btn-kompitech {
    background: $kompiblue;
}

.bg-kompitech {
    background: $kompiblue;
}


.h-15 {
   height: 15%!important;
 }

 /*----------  Tablet (769px) and Up  ----------*/
    @include media-breakpoint-up(sm) {
      .h-md-75 {
        height: 75%!important;
      }
      .h-md-25 {
        height: 25%!important;
      }
    }
